# Python
venv/                  
__pycache__/           
*.pyc                  
*.pyo                  
*.pyd                  
*.egg-info/            
dist/                  
build/                

# Data
data/raw/              
*.csv
photos
# Logs
logs/                  

# DBT
dbt/target/            # DBT compilation artifacts
dbt/dbt_packages/      # DBT dependencies
dbt/logs/              # DBT logs

# Environment variables
.env                   # Local environment variables
.secrets               # Sensitive credentials

# IDE and Editor files
.vscode/               # Visual Studio Code settings
.idea/                 # JetBrains IDE settings
*.swp                  # Vim swap files
*.swo                  # Vim swap files

# System files
.DS_Store              # macOS folder attributes
Thumbs.db              # Windows thumbnail cache
# Virtual environment
venv/
env/
.venv/
env.bak/
data/
*.log