emoji==2.14.1
greenlet==3.1.1
numpy==2.2.2
pandas==2.2.3
pyaes==1.6.1
pyasn1==0.6.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
rsa==4.9
six==1.17.0
SQLAlchemy==2.0.37
Telethon==1.38.1
typing_extensions==4.12.2
tzdata==2025.1
